<div>
    <div class="modal-content">
        <div class="modal-header">
            <button ng-click="vm.cancel($event)" type="button" class="close"><span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title">上传头像</h4>
        </div>
        <div class="modal-body">
            <img id="image-portrait" src="images/portrait.jpg" alt="image not found">
        </div>
        <div class="modal-footer">
            <button ng-click="vm.cancel($event)" type="button" class="mg0 btn btn-default">取消</button>
            <button ng-click="vm.ok($event)" type="button" class="btn btn-primary">确定</button>
        </div>
    </div>
</div>