#ignore node and bower library and compiled class

build/
/build
*/build
*/**/build
/classes

target/
/target
*/target
*/**/target

out/
/out
*/out
*/**/out

.tmp/

kaleido-webapp/src/main/frontend/bower_components
kaleido-webapp/src/main/frontend/node_modules
kaleido-webapp/src/main/webapp/frontend

.idea/misc.xml
.idea/workspace.xml
kaleido-dashboard/kaleido-dashboard.iml
kaleido-home/kaleido-home.iml
kaleido-webapp/kaleido-webapp.iml
kaleido.iml
.idea/dataSources.ids
.idea/dataSources.local.xml
.idea/dataSources.xml
