<div>
    <div class="clearfix"></div>
    <div class="">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><i class="fa fa-camera"></i> 相册</h2>
                    <button ng-click="vm.createAlbum($event)" class="btn btn-primary pull-right">新建相册</button>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    aaaaaaaa
                </div>
            </div>
        </div>
    </div>
</div>
