<div>
    <div class="modal-header">
        <button ng-click="vm.cancel($event)" type="button" class="close">
            <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title">上传图片</h4>
    </div>
    <div class="modal-body">
        <div image-uploader data-upload-path="{{vm.commonInfo.uploadPath}}" data-image-list="vm.formOptions.imageList"></div>
    </div>
    <div class="modal-footer">
        <button ng-click="vm.cancel($event)" type="button" class="btn btn-default mg0">取消</button>
        <button ng-click="vm.ok($event)" type="button" class="btn btn-primary">上传</button>
    </div>
</div>
