<div>
    <div class="row pb15">
        <div class="col-sm-3 text-right">昵称</div>
        <div ng-bind="vm.commonInfo.profile.userName" class="col-sm-9"></div>
    </div>
    <div class="row pb15">
        <div class="col-sm-3 text-right">姓名</div>
        <div ng-bind="vm.commonInfo.profile.realName" class="col-sm-9"></div>
    </div>
    <div class="row pb15">
        <div class="col-sm-3 text-right">电话号码</div>
        <div ng-bind="vm.commonInfo.profile.phoneNum" class="col-sm-9"></div>
    </div>
    <div class="row pb15">
        <div class="col-sm-3 text-right">性别</div>
        <div ng-bind="vm.commonInfo.profile.gender | gender" class="col-sm-9"></div>
    </div>
    <div class="row pb15">
        <div class="col-sm-3 text-right">生日</div>
        <div class="col-sm-9">
            <span ng-bind="vm.commonInfo.profile.birthday | date:'yyyy-MM-dd'"></span>
        </div>
    </div>
    <div class="row pb15">
        <div class="col-sm-3 text-right">地址</div>
        <div class="col-sm-9">
            <span ng-bind="vm.commonInfo.profile.country | country"></span>
            <span ng-bind="vm.commonInfo.profile.province | city : vm.commonInfo.profile.country"></span>
            <span ng-bind="vm.commonInfo.profile.city | city : vm.commonInfo.profile.country"></span>
            <span ng-bind="vm.commonInfo.profile.address"></span>
        </div>
    </div>
    <div class="row pb15">
        <div class="col-sm-3 text-right">职业</div>
        <div class="col-sm-9">
            <span meta-translator data-group="occupation" data-meta="vm.commonInfo.profile.occupation"></span>
        </div>
    </div>
    <div class="row pb15">
        <div class="col-sm-3 text-right">学历</div>
        <div class="col-sm-9">
            <span meta-translator data-group="degree" data-meta="vm.commonInfo.profile.degree"></span>
        </div>
    </div>
</div>
