<div>
    <form name="vm.formOptions.form" class="form-horizontal form-label-left" novalidate>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">邮箱地址<span class="required">&nbsp;*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input ng-class="{'parsley-error': vm.formOptions.form.loginName.$invalid && vm.formOptions.submitted}" ng-model="vm.formOptions.loginName" name="loginName" required type="email" class="form-control has-feedback-left col-md-7 col-xs-12">
                <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                <ul class="parsley-errors-list filled" id="parsley-id-5">
                    <li ng-if="vm.formOptions.form.loginName.$error.required && vm.formOptions.submitted" class="parsley-required text-left">邮箱地址不能为空</li>
                    <li ng-if="vm.formOptions.form.loginName.$error.email && vm.formOptions.submitted" class="parsley-required text-left">请输入正确的邮箱号</li>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">新邮箱地址<span class="required">&nbsp;*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input ng-class="{'parsley-error': vm.formOptions.form.newLoginName.$invalid && vm.formOptions.submitted}" ng-model="vm.formOptions.newLoginName" name="newLoginName" required type="email" class="form-control has-feedback-left col-md-7 col-xs-12">
                <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                <ul class="parsley-errors-list filled" id="parsley-id-5">
                    <li ng-if="vm.formOptions.form.newLoginName.$error.required && vm.formOptions.submitted" class="parsley-required text-left">新邮箱地址不能为空</li>
                    <li ng-if="vm.formOptions.form.newLoginName.$error.email && vm.formOptions.submitted" class="parsley-required text-left">请输入正确的邮箱号</li>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">密码<span class="required">&nbsp;*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input ng-class="{'parsley-error': vm.formOptions.form.loginPassword.$invalid && vm.formOptions.submitted}" ng-model="vm.formOptions.loginPassword" name="loginPassword" required type="password" class="form-control has-feedback-left col-md-7 col-xs-12">
                <span class="fa fa-lock form-control-feedback left" aria-hidden="true"></span>
                <ul class="parsley-errors-list filled" id="parsley-id-5">
                    <li ng-if="vm.formOptions.form.loginPassword.$error.required && vm.formOptions.submitted" class="parsley-required text-left">密码不能为空</li>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <button ng-click="vm.cancel($event)" type="button" class="btn btn-primary">取消</button>
                <button ng-click="vm.ok($event)" type="button" class="btn btn-success">确定</button>
            </div>
        </div>
    </form>
</div>
