<div>
    <div class="modal-header">
        <button ng-click="vm.cancel($event)" type="button" class="close">
            <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title">添加好友</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <form class="form-horizontal form-label-left">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">昵称/用户ID</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input ng-model="vm.commonInfo.keyword" type="text" class="form-control">
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <button ng-click="vm.query($event)" class="btn btn-primary">搜索</button>
                </div>
            </form>
            <br>
            <div class="table-responsive">
                <table class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr class="headings">
                            <th class="column-title" style="display: table-cell;">头像 </th>
                            <th class="column-title" style="display: table-cell;">昵称</th>
                            <th class="column-title" style="display: table-cell;">用户ID</th>
                            <th class="column-title" style="display: table-cell;">性别</th>
                            <th class="column-title" style="display: table-cell;">城市</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="even pointer" ng-repeat="user in vm.commonInfo.userList">
                            <td ng-bind="user.portrait"></td>
                            <td ng-bind="user.userName"></td>
                            <td ng-bind="user.userId"></td>
                            <td ng-bind="user.gender | gender"></td>
                            <td>
                                <span ng-bind="user.country | country"></span>
                                <span ng-bind="user.province | city : user.country"></span>
                                <span ng-bind="user.city | city : user.country"></span>
                            </td>
                            <td>
                                <button class="btn btn-xs btn-primary">添加</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-center">
                <div pagination page-size="vm.pageInfo.pageTotal" page-num="vm.pageInfo.pageNum"></div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-click="vm.cancel($event)" type="button" class="mg0 btn btn-default">取消</button>
        <button ng-click="vm.ok($event)" type="button" class="btn btn-primary">确定</button>
    </div>
</div>
