<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiyou.kaleido.friend.dao.FriendDao">
	<resultMap id="BaseResultMap" type="com.xiyou.kaleido.friend.entity.Friend">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="owner" property="owner" jdbcType="VARCHAR" />
		<result column="friend" property="friend" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="TINYINT" />
		<result column="mark" property="mark" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
		<result column="deleted" property="deleted" jdbcType="TINYINT" />
	</resultMap>

	<sql id="Base_Column_List" >
		owner, friend, status, mark, create_time, last_update_time, deleted
	</sql>

	<update id="updateFriend" parameterType="com.xiyou.kaleido.friend.entity.Friend">
        update friend
        <set>
            <if test="status != null">
                status = #{status, jdbcType=INTEGER},
            </if>
            <if test="mark != null">
                mark = #{mark, jdbcType=VARCHAR}
            </if>
			<if test="deleted != null">
				deleted = #{deleted, jdbcType=TINYINT}
			</if>
        </set>
        where owner = #{owner, jdbcType=VARCHAR} and friend = #{friend, jdbcType=VARCHAR}
	</update>

	<select id="getFriend" parameterType="com.xiyou.kaleido.friend.entity.Friend" resultMap="BaseResultMap">
		select <include refid="Base_Column_List"/> from friend where deleted = 0
		<trim prefix="and" suffixOverrides="and">
			<if test="owner != null">
				owner = #{owner, jdbcType=VARCHAR} and
			</if>
			<if test="friend != null">
				friend = #{friend, jdbcType=VARCHAR} and
			</if>
			<if test="status != null">
				status = #{status, jdbcType=TINYINT} and
			</if>
		</trim>
	</select>
	
	<insert id="addFriend" parameterType="com.xiyou.kaleido.friend.entity.Friend">
        insert into friend
        <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="owner != null">
				owner,
			</if>
			<if test="friend != null">
				friend,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="mark != null">
				mark,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="lastUpdateTime != null">
				last_update_time,
			</if>
			<if test="deleted != null">
				deleted,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="owner != null">
				#{owner, jdbcType=VARCHAR},
			</if>
			<if test="friend != null">
				#{friend, jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status, jdbcType=TINYINT},
			</if>
			<if test="mark != null">
				#{mark, jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime, jdbcType=TIMESTAMP},
			</if>
			<if test="lastUpdateTime != null">
				#{lastUpdateTime, jdbcType=TIMESTAMP},
			</if>
			<if test="deleted != null">
				#{deleted, jdbcType=TINYINT},
			</if>
		</trim>
	</insert>

</mapper>