<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiyou.kaleido.friend.dao.FriendDao">
	<resultMap id="BaseResultMap" type="com.xiyou.kaleido.friend.entity.Friend">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="owner" property="owner" jdbcType="VARCHAR" />
		<result column="friend" property="friend" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="TINYINT" />
		<result column="mark" property="mark" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="last_update_time" property="lastUpdateTime" jdbcType="VARCHAR" />
		<result column="deleted" property="deleted" jdbcType="TINYINT" />
	</resultMap>

	<sql id="Base_Column_List" >
		owner, friend, status, mark, create_time, last_update_time, deleted
	</sql>
	
	<insert id="addFriend" parameterType="com.xiyou.kaleido.friend.entity.Friend">
        insert into friend (owner, friend, status, mark) values #{owner}, #{friend}, #{status}, #{mark}
	</insert>

</mapper>