<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiyou.kaleido.profile.dao.ProfileDao">
	<resultMap id="BaseResultMap" type="com.xiyou.kaleido.profile.entity.Profile">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="user_id" property="userId" jdbcType="VARCHAR" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="real_name" property="realName" jdbcType="VARCHAR" />
		<result column="phone_num" property="phoneNum" jdbcType="VARCHAR" />
		<result column="country" property="country" jdbcType="VARCHAR" />
		<result column="province" property="province" jdbcType="VARCHAR" />
		<result column="city" property="city" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="birthday" property="birthday" jdbcType="TIMESTAMP" />
		<result column="portrait" property="portrait" jdbcType="VARCHAR" />
		<result column="gender" property="gender" jdbcType="CHAR" />
        <result column="degree" property="degree" jdbcType="VARCHAR" />
		<result column="occupation" property="occupation" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="last_update_time" property="lastUpdateTime" jdbcType="VARCHAR" />
		<result column="deleted" property="deleted" jdbcType="TINYINT" />
	</resultMap>

	<sql id="Base_Column_List" >
		user_id, user_name, real_name, phone_num, phone_num, country, province, city, address, birthday, portrait, gender, degree, occupation, create_time, last_update_time, deleted
	</sql>
	
	<select id="getProfileByUserId" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" /> from profile where user_id = #{userId}
	</select>

	<update id="updateByUserId" parameterType="com.xiyou.kaleido.profile.entity.Profile">
		update profile
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userName != null">
				user_name,
			</if>
			<if test="realName != null">
				real_name,
			</if>
			<if test="phoneNum != null">
				phone_num,
			</if>
			<if test="country != null">
				country,
			</if>
			<if test="province != null">
				province,
			</if>
			<if test="city != null">
				city,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="birthday != null">
				birthday,
			</if>
			<if test="portrait != null">
				portrait,
			</if>
			<if test="gender != null">
				gender,
			</if>
            <if test="degree != null">
                degree,
            </if>
			<if test="occupation != null">
				occupation,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userName != null">
				userName,
			</if>
			<if test="realName != null">
				realName,
			</if>
			<if test="phoneNum != null">
				phoneNum,
			</if>
			<if test="country != null">
				country,
			</if>
			<if test="province != null">
				province,
			</if>
			<if test="city != null">
				city,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="birthday != null">
				birthday,
			</if>
			<if test="portrait != null">
				portrait,
			</if>
			<if test="gender != null">
				gender,
			</if>
            <if test="degree != null">
                degree,
            </if>
			<if test="occupation != null">
				occupation,
			</if>
		</trim>
	</update>

	<insert id="addProfile" parameterType="com.xiyou.kaleido.profile.entity.Profile" useGeneratedKeys="true" keyProperty="id">
		insert into profile
		<trim prefix="(" suffix=")" suffixOverrides=",">
			user_id,
			<if test="userName != null">
				user_name,
			</if>
			<if test="realName != null">
				real_name,
			</if>
			<if test="phoneNum != null">
				phone_num,
			</if>
			<if test="country != null">
				country,
			</if>
			<if test="province != null">
				province,
			</if>
			<if test="city != null">
				city,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="birthday != null">
				birthday,
			</if>
			<if test="portrait != null">
				portrait,
			</if>
			<if test="gender != null">
				gender,
			</if>
            <if test="degree != null">
                occupation,
            </if>
			<if test="occupation != null">
				occupation,
			</if>
			create_time, last_update_time, deleted
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{userId},
			<if test="userName != null">
				#{userName},
			</if>
			<if test="realName != null">
				#{realName},
			</if>
			<if test="phoneNum != null">
				#{phoneNum},
			</if>
			<if test="country != null">
				#{country},
			</if>
			<if test="province != null">
				#{province},
			</if>
			<if test="city != null">
				#{city},
			</if>
			<if test="address != null">
				#{address},
			</if>
			<if test="birthday != null">
				#{birthday},
			</if>
			<if test="portrait != null">
				#{portrant},
			</if>
			<if test="gender != null">
				#{gender},
			</if>
            <if test="degree != null">
                #{occupation},
            </if>
			<if test="occupation != null">
				#{occupation},
			</if>
			#{createTime}, #{lastUpdateTime}, #{deleted}
		</trim>
	</insert>

</mapper>