<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiyou.kaleido.user.dao.UserDao">

	<resultMap id="BaseResultMap" type="com.xiyou.kaleido.user.entity.User">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="user_id" property="userId" jdbcType="VARCHAR" />
		<result column="login_name" property="loginName" jdbcType="VARCHAR" />
		<result column="login_password" property="loginPassword" jdbcType="VARCHAR" />
		<result column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
		<result column="deleted" property="deleted" jdbcType="TINYINT" />
	</resultMap>

	<sql id="Base_Column_List" >
		user_id, login_name, login_password, last_login_time, create_time, last_update_time, deleted
	</sql>

	<insert id="addUser" parameterType="com.xiyou.kaleido.user.entity.User" useGeneratedKeys="true" keyProperty="id">
		insert into user ( <include refid="Base_Column_List" /> )
        values (#{userId, jdbcType=VARCHAR}, #{loginName, jdbcType=VARCHAR}, #{loginPassword, jdbcType=VARCHAR},
        #{lastUpdateTime, jdbcType=DATE}, #{createTime, jdbcType=DATE}, #{lastUpdateTime, jdbcType=DATE}, #{deleted, jdbcType=TINYINT})
	</insert>

	<select id="login" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user
		where deleted = 0 and login_name = #{param1,jdbcType=VARCHAR} and login_password = #{param2, jdbcType=VARCHAR}
	</select>

	<select id="getUserInfo" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from user
		where user_id = #{userId,jdbcType=VARCHAR}
	</select>

	<select id="getLatestId" resultType="java.lang.String">
		select user_id from user order by id desc limit 0,1;
	</select>

	<select id="checkUserExist" resultType="Integer" parameterType="java.lang.String">
		select count(*) from user where login_name = #{loginName, jdbcType=VARCHAR}
	</select>

</mapper>