<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="www.xiyou.com.user.dao.UserDao">
	<resultMap id="BaseResultMap" type="www.xiyou.com.user.entity.User">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="user_id" property="userId" jdbcType="VARCHAR" />
		<result column="login_name" property="loginName" jdbcType="VARCHAR" />
		<result column="login_password" property="loginPassword" jdbcType="VARCHAR" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="real_name" property="realName" jdbcType="VARCHAR" />
		<result column="phone_num" property="phoneNum" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="Base_Column_List" >
		id, user_id, login_name, login_password, user_name, real_name, phone_num, create_time, last_update_time
	</sql>

	<insert id="addUser" parameterType="www.xiyou.com.user.entity.User" useGeneratedKeys="true" keyProperty="id">
		insert into user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			user_id, login_name, login_password,
			<if test="userName != null">
				user_name,
			</if>
			create_time, last_update_time
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{userId, jdbcType=VARCHAR}, #{loginName, jdbcType=VARCHAR}, #{loginPassword, jdbcType=VARCHAR},
			<if test="userName != null">
				#{userName, jdbcType=VARCHAR},
			</if>
			#{createTime, jdbcType=DATE}, #{lastUpdateTime, jdbcType=DATE}
		</trim>
	</insert>

	<select id="login" resultMap="BaseResultMap" parameterType="www.xiyou.com.user.entity.User">
		select
		<include refid="Base_Column_List" />
		from user
		where deleted = 0 and login_name = #{loginName,jdbcType=VARCHAR} and login_password = #{loginPassword, jdbcType=VARCHAR}
	</select>

	<select id="getUserInfo" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from user
		where user_id = #{userId,jdbcType=VARCHAR}
	</select>

	<select id="getLatestId" resultType="java.lang.String">
		select user_id from user order by id desc limit 0,1;
	</select>

	<select id="checkUserExist" resultType="Integer" parameterType="java.lang.String">
		select count(*) from user where login_name = #{loginName, jdbcType=VARCHAR}
	</select>
</mapper>